
DIV.qindex { width: 100%;
             background-color: #E0E0F0;
             border: 4px solid #E0E0F0;
             text-align: center;
             margin-bottom: 2px
}
A.qindex { text-decoration: none; font-weight: bold; color: #0000FF }
A.qindex:visited { text-decoration: none; font-weight: bold; color: #FF8C00 }
A.el { text-decoration: none; font-weight: bold; color: #0000FF }
A.el:visited { text-decoration: none; color: #FF8C00 }
A.elRef { font-weight: bold }
A.qindex:hover { text-decoration: none; background-color: #C0C0F0 }
A.qindexHL { text-decoration: none; font-weight: bold;
             background-color: #6699CC;
             color: #0000FF
           }
A.qindexHL:hover { text-decoration: none; background-color: #6699CC; color: #FFFFFF }
A.qindexHL:visited { text-decoration: none; background-color: #5050FF; color: #FFFFFF }
TD.md { background-color: #E0E0F0; font-weight: bold; }
TD.mdname1 { background-color: #E0E0F0; font-weight: bold; color: #0000FF; }
TD.mdname { background-color: #E0E0F0; font-weight: bold; color: #0000FF; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
BODY {
	background: #FFFFFF;
	color: #000000;
	margin-right: 20px;
	margin-left: 20px;
}
TD.indexkey { 
   background-color: #F8F8F8; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.indexvalue { 
   background-color: #F8F8F8; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TR.memlist {
   background-color: #E0E0F0; 
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdTable {
	border: 1px solid #E0E0F0;
	background-color: #E0E0F0;
}
.mdRow {
	padding: 8px 20px;
}
.mdescLeft {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E0E0F0; 
	padding-left: 8px;
	border-top: 1px none #E0E0F0;
	border-right: 1px none #E0E0F0;
	border-bottom: 1px none #E0E0F0;
	border-left: 1px none #E0E0F0;
	margin: 0px;
}
.mdescRight {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	background-color: #E0E0F0;
	padding-left: 4px;
	border-top: 1px none #E0E0F0;
	border-right: 1px none #E0E0F0;
	border-bottom: 1px none #E0E0F0;
	border-left: 1px none #E0E0F0;
	margin: 0px;
	padding-bottom: 0px;
	padding-right: 8px;
}
.memItemLeft {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0F0;
	border-right-color: #E0E0F0;
	border-bottom-color: #E0E0F0;
	border-left-color: #E0E0F0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #E0E0F0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.memItemRight {
	padding: 1px 0px 0px 8px;
	margin: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0F0;
	border-right-color: #E0E0F0;
	border-bottom-color: #E0E0F0;
	border-left-color: #E0E0F0;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #E0E0F0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
